@{

    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
</head>
<body>
    <h2>Hello kitty.</h2>
    
    To see system cash image go to <a href="/Home/CashImages">link</a>
</body>
</html>
