@using ScreenShotGenerator.Models;
@model IEnumerable<mImageList>

@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <title>Cash Screenshots</title>
</head>

<body>
    @{ foreach (var img in Model)
        {
            <img src='@img.name' width="30%" height="30%">            
        }
    }

</body>
</html>