Запущен процесс очистки кэша.
<br>
  Из памяти будет удалено @ViewBag.cacheItemsCount элементов.
<br>
  С диска @ViewBag.diskItems элементов.
<br>
<br>
<a asp-controller="Admin" asp-action="Index">Назад</a>