<p> Привет администратор.</p>

<p>
    <a href="/Admin/CashImages">Просмотр кеша системы.</a>
</p> 

<p>
    <a asp-controller="Home" asp-action="Index">Домой</a>
    <a asp-controller="Admin" asp-action="Logout">Выйти</a>
</p>
